<div class="container">
  <h2>Menu</h2>

  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="toolbox"
    [cdkDropListConnectedTo]="[timeLineList]"
    class="list"
    (cdkDropListDropped)="drop($event)">
    <app-toolbox-item *ngFor="let item of toolbox" [title]="item" cdkDrag></app-toolbox-item>
  </div>
</div>

<div class="container">
  <h2>Timeline</h2>

  <div
  cdkDropList cdkDropListOrientation="horizontal"
    #timeLineList="cdkDropList"
    [cdkDropListData]="timeline"
    [cdkDropListConnectedTo]="[timeLineList]"
    class="horizontal-list"
    (cdkDropListDropped)="drop($event)">
    <app-timeline-item *ngFor="let item of timeline" [title]="item" cdkDrag></app-timeline-item>

  </div>
</div>

